.watcha_NextcloudPanel {
    height: 100%;
    width: 100%;
    border: 1px solid $secondary-accent-color;
}

.watcha_NextcloudPanel_settingsIcon-noWrap {
    cursor: pointer;
    white-space: nowrap;
    &::after {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
        mask-size: contain;
        mask-image: url("$(res)/img/element-icons/settings.svg");
        background-color: $icon-button-color;
        content: "";
    }
}

.watcha_NextcloudPanel_empty::before {
    mask-image: url("$(res)/img/element-icons/room/files.svg");
}
