.watcha_LeftPanelExtension {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    border-top: 1px solid $panel-divider-color;
    > * {
        margin-bottom: 1.5em;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    .watcha_OutlineButton {
        width: 18em;
    }
}

.watcha_LeftPanelExtension_collapsed {
    padding: 0.5em;
    > * {
        margin-bottom: 0.2em;
    }
}

.watcha_AdminAccess_OutlineIconButton,
.watcha_AdminAccess_IconButton::before {
    mask-image: url("$(res)/img/watcha_admin.svg");
}

.watcha_NextcloudAccess_OutlineIconButton,
.watcha_NextcloudAccess_IconButton::before {
    mask-image: url("$(res)/img/watcha_nextcloud.svg");
}
