/*

Copyright 2020 Watcha

This code is not licensed unless directly agreed with Watcha

*/

.watcha_InviteMemberDialog {
    .mx_Dialog_content {
        display: flex;
        justify-content: space-between;
        & > * {
            width: 48%;
        }
    }
    .mx_SearchBox {
        margin: 0 0 0.5em 0;
    }
    .mx_EntityTile {
        margin: 0 1em 0.5em 1em;
    }
}

.watcha_InviteMemberDialog_Section {
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
        font-weight: bold;
    }
    .gm-scrollbar-container {
        min-height: 10em;
    }
    .mx_EntityTile:hover::before {
        mask-position: center !important;
    }
}

.watcha_InviteMemberDialog_sourceContainer {
    .watcha_InviteMemberDialog_Section {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
}

.watcha_InviteMemberDialog_SuggestedList,
.watcha_InviteMemberDialog_SelectedList {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border: 1px solid $input-darker-fg-color;
    border-radius: 5px;
    p {
        margin-top: 2.5em;
        text-align: center;
    }
}

.watcha_InviteMemberDialog_SelectedList {
    height: 100%;
    transition: border-color 0.25s;
}

.watcha_InviteMemberDialog_SelectedList_invalid {
    border-color: $input-invalid-border-color;
}

.watcha_InviteMemberDialog_SelectedList_hint {
    color: $input-darker-fg-color;
    strong {
        font-weight: bold;
    }
}

.watcha_InviteMemberDialog_EntityTile_roomMember {
    cursor: initial;
    &.mx_EntityTile:hover {
        padding-right: initial;
        &::before {
            display: none;
        }
    }
}

.watcha_InviteMemberDialog_EntityTile_invite {
    border: 3px solid transparent;
    border-radius: 5px;
    animation-name: flash;
    animation-duration: 1s;
    &.mx_EntityTile:hover::before {
        mask: url("$(res)/img/cancel-small.svg");
        mask-repeat: no-repeat;
    }
}

.watcha_InviteMemberDialog_EntityTile_partner {
    .mx_BaseAvatar_image {
        border-radius: 0;
    }
}

@keyframes flash {
    30% {
        border-color: aqua;
    }
}

.watcha_EmailInvitation > p {
    margin-top: 0;
}

.watcha_InviteMemberDialog_emailAddressContainer {
    display: flex;
    height: 2.5em;
    .mx_Field {
        margin: 0;
        &:not(:focus-within) {
            border-color: $input-darker-fg-color;
        }
    }
}

.watcha_InviteMemberDialog_addEmailAddressButton {
    display: flex;
    width: 3em;
    margin-left: 0.5em;
    border: 1px solid $input-darker-fg-color;
    border-radius: 4px;
    > span {
        width: 100%;
        mask-image: url("$(res)/img/member_chevron.png");
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $rightpanel-button-color;
    }
    &:hover {
        cursor: pointer;
    }
}

.watcha_InviteMemberDialog_addEmailAddressButton_valid {
    border: 2px solid aqua;
}