$watcha-accent: hsl(180, 100%, 35%);
/*$watcha-dark: #15191e;*/
$watcha-dark: #fff;

$accent: $watcha-accent;

.mx_LeftPanel_wrapper {
    color: white !important;
    background-color: $watcha-dark;

    .mx_BaseAvatar_image {
        background-color: unset;
    }
}
